extends layout

block head
  script(src="/js/admin.js")

block content
  .row
    .col-md-6
      h2 Articles
      each item in articles
        .card(id=`article-${item._id}`)
          .card-body
            .row
              .col-md-4
                h5.card-title= "Name: " + item.name
              .col-md-5
                p.card-text= "Description: " + item.category
              .col-md-3
                p.card-text= "Price: " + item.price + '$'
            a(href='#' onclick=`deleteArticle("${item._id}")`).btn.btn-danger Delete
    .col-md-6
      h3 Add article
      form(action="/article", method="post")
        div.form-group
          div.input
            span.label Name
            input(type="text", name="name").form-control

        div.form-group
          div.input
            span.label Price
            input#example-number-input.form-control(type='number', value='42' name='price')

        div.form-group
          div.input
            span.label Categories
            input(type="text", name="category").form-control

        div.form-group
          div.actions
              input(type="submit", value="add").form-control.btn.btn-primary